@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxygen:wght@300;400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:wght@500&family=Train+One&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}
body{
    background: rgb(35,63,245);
    background: linear-gradient(90deg, rgba(35,63,245,1) 18%, rgba(61,117,236,1) 44%, rgba(39,134,233,1) 58%, rgba(59,173,237,1) 73%);
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap{
    height: 100%;
    width: 98vw;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(255, 255, 255, 0.6);
}
.box{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
    top: 20px;
}
.minibox{
    flex-wrap: wrap;
    display: flex;
    background-color: #ffffff87;
    width: 32rem;
    height: 2.5rem;
    border-radius: 10px;
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(255, 255, 255, 0.6);
    position: relative;
    overflow: hidden;
}
.minibox>p{
position: relative;
display: inline;
}
.minibox:hover{
    background-color: #ffffffd1;
}
.minibox:active{
    background-color: #ffffffd1;
}
.minibox:focus{
    background-color: #ffffffd1;
}
.gg-chevron-right-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 4px;
    position: relative;
    left: 20%;
}
.gg-chevron-right-r::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    left: 5px;
    top: 6px;
}
.rotate{
    transform: rotate(90deg);
}
.title{
    color: #ffffff;
    font-size: 3rem;
}
.rotate1{
    transform: rotate(0deg);
  
}

#suggestion{
    position: absolute;
    z-index: 999;
    height: 20%;
    width:98vw;
    display: flex;
    gap: 1px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.51);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
   -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 1);
    flex-direction: column;
    border-radius: 20px;
    display: none;
    top: 10%;
    z-index: 999;
    
}
#suggestion>a{
    text-decoration: none;
    color: black;
    padding: 2px;
     width: 150px;
     height: 35px;
    font-size: 1.6rem;
}
#input{
    padding: 5px;
    width: 45vw;
    height: 35px;
    border-radius: 25px;
    background-color:rgba(255, 255, 255, 0.299);
    backdrop-filter: blur(10px);
    font-size: 1.2rem;
    color: black;
    border: 1px solid rgba(133, 113, 113, 0.755);
}
::placeholder{
    font-size: 1.2rem;
    color: black;
    z-index: 999;
}
.unkown{
    width: 98vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #ffffff40;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.71);
    gap: 20px;
}
img{
    width: 45px;
    height: 53px;
}
.title{
    display: flex;
}

@media (max-width:406px){
    img {
        width: 40px;
        height: 39px;
    }
    .title {
        font-size: 2rem;
    }
    .mainbox{
        font-size: 1.85rem;
    }
    .gg-chevron-right-r{
        left: 12%;
    }
    #suggestion{
        top: 3%;
    }
}